version: '3.8'

services:
  api:
    build:
      context: ./src/api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src/api:/app  

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    environment:
      - VITE_API_URL=http://api:3000  
